<?xml version="1.0" encoding="utf-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       	 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

  	<!-- 配置bean
           id: bean的唯一标符识
           class: 指定具体的类
           
           autowire: Bean自动装配(自动注入值)
              1. default|no不使用自动装配
              2. byName根据setter方法名来自动装配
              3. byType根据setter方法形参类型来自动装配
              4. constructor跟byType类似
     -->
	<bean id="testService" class="org.spring.learning.bean.TestService" autowire="byType" />

	<!-- 
		autowire-candidate: 是否作为自动装配的候选者 
			false: 不是候选者 
    -->
	<bean id="testDao1" autowire-candidate="false" class="org.spring.learning.bean.TestDao"></bean>

	<bean id="testDao2" class="org.spring.learning.bean.TestDao"></bean>

</beans>