<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd 
	   http://activemq.apache.org/schema/core
	   http://activemq.apache.org/schema/core/activemq-core.xsd
	   http://www.springframework.org/schema/jms
	   http://www.springframework.org/schema/jms/spring-jms.xsd">

	<context:property-placeholder
		location="classpath:org/spring/learning/jms/activemq.properties" />

	<context:component-scan base-package="org.spring.learning.jms" />

	<!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供 -->
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory"
		p:brokerURL="tcp://${activeMQ.host}:${activeMQ.port}"
		p:userName="${activeMQ.userName}" 
		p:password="${activeMQ.password}" 
		p:trustAllPackages="true" /> 
	
	<!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory -->  
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">  
        <!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->  
        <property name="targetConnectionFactory" ref="targetConnectionFactory"/>  
    </bean>
		
	<!--消息监听器-->
<!-- 	<jms:listener-container connection-factory="connectionFactory"> -->
<!-- 		<jms:listener destination="queueName" ref="queueMessageHandler" method="handle" /> -->
<!-- 		<jms:listener destination="topicName" ref="topicMessageHandler" method="handle" /> -->

<!-- 		<jms:listener destination="queueList" ref="queueMessageHandler" method="handle2" /> -->
<!-- 	</jms:listener-container> -->

	<bean id="jmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory" 
		p:connectionFactory-ref="connectionFactory"/>

	<!-- 监听注解支持 -->
    <jms:annotation-driven/>
	
	<!-- 消息接收监听器用于异步接收消息-->  
<!--     <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">     -->
<!--         <property name="connectionFactory" ref="connectionFactory"/>     -->
<!--         <property name="destination" ref="topic"/>   -->
<!--         <property name="sessionTransacted" value="true"/>   -->
<!--         <property name="messageListener" ref="defaultMessageListener"/>     -->
<!--    </bean> -->

</beans>